<div class="message">
  <div class="bar"></div>
  <div class="content">
    <p><%= @question %></p>
    <p><em>--You</em></p>
  </div>
</div>

<div class="message coach">
  <div class="bar"></div>
  <div class="content">
    <p><b><%=@answer %></b></p>
    <p><em>--Your coach</em></p>
  </div>
</div>




  <%= link_to "Ask a new question", root_path %>

